<!DOCTYPE html>
<html>

	<head profile="http://www.w3.org/2005/10/profile">
		<meta charset="UTF-8">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
		<title>Registration page</title>

		<link rel="icon"
			  type="image/png"
			  sizes="96x96"
			  href="{{ url_for('static', filename='images/favicons/favicon-96x96.png') }}">

		<link rel='stylesheet' type='text/css'
			  href="{{ url_for('static', filename='css/layout.css') }}">

		<link rel='stylesheet' type='text/css'
			  href="{{ url_for('static', filename='css/colours.css') }}">

		<link rel='stylesheet' type='text/css'
			  href="{{ url_for('static', filename='css/transitions.css') }}">

		<link rel='stylesheet'
			  type='text/css'
			  href='http://fonts.googleapis.com/css?family=Anton'>

		<link  rel='stylesheet'
			   type='text/css'
			   href='http://fonts.googleapis.com/css?family=Lato:400,700'>

		<script type="text/javascript"
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7oYhGu2nYJUFZOEVh1Z7qdpjlriSzdEc&libraries=places,drawing">
		</script>

	</head>

    <body class="background-color-0">
        <div id="header-container" class="color-6 vert-25-percent">
            <div class="margin-left-5 delayed-fade-in">
                Welcome to the registration page!
            </div>
            <div class="slide-in-from-right hline background-color-1a margin-left-5"></div>

			{% from "login_register/_formhelpers.html" import render_field %}
			<form method=post action="/register" class="body-font">
			  <dl>
				{{ render_field(form.username) }}
				{{ render_field(form.email) }}
				{{ render_field(form.password) }}
				{{ render_field(form.confirm) }}
			  </dl>
			  <p><input type=submit value=Register></p>
			</form>
        </div>
    </body>

</html>