.big-postcard {
  display: none;
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  padding: 16px;
  outline: 8px solid orange;
  background-color: white;
  z-index: 3;
  overflow: auto;
}

.big-postcard.active {
  display: block;
}

.close-icon {
  position: absolute;
  bottom: calc(100% - 50px);
  left: calc(100% - 50px);
  z-index: 1;
  width: 50px;
}

@media (max-width: 745px) {

  .big-postcard {
    width: calc(100% - 2 * 16px - 2 * 8px);
    top: 8px;
    left: 8px;
    height: calc(100% - 2 * 16px - 2 * 8px);
  }
}