#big-postcard,
#big-picture {
  display: none;
  position: absolute;
  top: calc(12.5% - 8px);
  left: calc(12.5% - 8px);
  width: 75%;
  height: 75%;
  padding: 16px;
  border: 8px solid orange;
  background-color: white;
  overflow: auto;
}

#big-picture {
  z-index: 4;
}

#big-postcard {
  z-index: 3;
}

#big-postcard.active,
#big-picture.active {
  display: block;
}

.close-icon {
  position: absolute;
  bottom: calc(100% - 50px);
  left: calc(100% - 50px);
  z-index: 1;
  width: 50px;
}

#thumbnail-filmstrip {
  width: 100%;
  height: 30%;
}

#thumbnail-wrap {
  height: 100%;
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.thumbnail {
  height: 100%;
  margin-right: 5px;
  display: inline-block;
}

#title {
  font-family: 'Anton', sans-serif;
  font-size: 24px;
  height: 34px;
}

#post-date {
  font-style: oblique;
  text-align: right;
  height: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

#status {
  display: inline-block;
  width: calc(100% - 200px);
  vertical-align: top;
  height: calc(70% - 34px - 20px - 59px);
  overflow: scroll;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

.upload-container {
  font-size: 10pt;
  height: 59px;
}

#minimap-container {
  display: inline-block;
  width: 200px;
  height: 200px;
  vertical-align: top;
}

#minimap-canvas {
  width: 100%;
  height: 100%;
}

#big-pic {
  max-height: calc(100% - 34px);
  max-width: calc(100% - 34px);
}

@media (max-width: 745px) {

  #big-postcard,
  #big-picture {
    width: calc(100% - 2 * 16px - 2 * 8px);
    top: 0px;
    left: 0px;
    height: calc(100% - 2 * 16px - 2 * 8px);
  }

  #status {
    display: block;
    width: 100%;
    height: calc(80% - 34px - 20px - 150px - 59px - 3px);
    font-size: 15px;
  }

  #minimap-container {
    display: block;
    height: 150px;
    width: 100%;
    margin-bottom: 3px;
  }

  #thumbnail-filmstrip {
    height: 20%;
  }
}