html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
}

#header-container {
  height: 60px;
  font-size: 60px;
  line-height: 60px;
  /*border-bottom: 1px solid #ccc;
  margin-bottom: 10px*/
}

.body-font {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  margin: 0;
}

.header {
  display: inline-block;
}

#map-container {
  width: 100vw;
  height: 75vh;
}

#map-canvas {
  width: 100%;
  height: 100%;
}

.vert-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: -webkit-translateY(-50%);
}

.vert-25-percent {
  position: relative;
  top: 25%;
  transform: translateY(-50%);
  -webkit-transform: -webkit-translateY(-50%);
}

.horiz-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: -webkit-translateX(-50%);
}

.vert-center.horiz-center {
  transform: translate(-50%, -50%);
  -webkit-transform: -webkit-translate(-50%, -50%);
}

.margin-left-5 {
  margin-left: 5%;
}

.margin-right-5 {
  margin-right: 5%;
}

.margin-top-10-percent {
  margin-top: 10%;
}

.hline {
  width: 100%;
  height: 1px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.hline.margin-left-5 {
  width: calc(100% - 5%);
}

.controls {
  margin-top: 18px;
  border: 1px solid transparent;
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 30px;
  outline: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

#places-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300; /*not sure what this does?*/
  margin-left: 18px;
  padding: 0 12px 0 12px; /*top right bottom left*/
  text-overflow: ellipsis; /*not sure what this is doing either?*/
  width: 30%;
  min-width: 198px;
}

#chosen-places-list {
  float: left;
  overflow: auto;
  height: calc(100vh - 60px - 12px - 75vh);
  width: 50%;
  margin: 0;
}

#save-button {
  float: left;
  width: 50%;
  overflow: hidden;
}

button#save-button {
  margin: 12px;
}

#chosen-place {
  padding-left: 5%;
}

.upload-img-prev {
  width: 50%;
}

.button {
	-moz-box-shadow: 0px 1px 0px 0px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px 0px #1c1b18;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #eae0c2), color-stop(1, #ccc2a6));
	background:-moz-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-webkit-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-o-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:-ms-linear-gradient(top, #eae0c2 5%, #ccc2a6 100%);
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eae0c2', endColorstr='#ccc2a6',GradientType=0);
	background-color:#eae0c2;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ccc2a6), color-stop(1, #eae0c2));
	background:-moz-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-webkit-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-o-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:-ms-linear-gradient(top, #ccc2a6 5%, #eae0c2 100%);
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc2a6', endColorstr='#eae0c2',GradientType=0);
	background-color:#ccc2a6;
}
.button:active {
	position:relative;
	top:1px;
}
