.nav-item {
  width: calc(50% - 24px - 4px - 2px);
  margin-left: 12px;
  margin-right: 12px;
  /*float: left;*/
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  display: inline-block;
  text-align: center;
  border-style: solid;
  border-width: 2px;
}

.nav-pane {
  display: block;
  margin-bottom: 6px;
}

.menu {
  display: none;
}

/* making the nav-pane responsive to phones */
@media (max-width: 745px) {
  .nav-pane {
    max-height: 0px;
    overflow: hidden;
    margin-bottom: 0px;
  }

  .nav-pane.active {
    max-height: 100px;
  }

  .nav-item {
    width: calc(100% - 24px);
    display: block;
    margin-top: 6px;
    margin-bottom: 6px;
  }

  .menu {
    display: block;
    height: 18px; /* should be calc(100%-2*margin) */
    float: left;
    margin: 12px;
  }


}