<!DOCTYPE html>
<html>
<head lang="en">
        <meta charset="UTF-8">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
		<title>Internal Server Error</title>

		<link rel='stylesheet' type='text/css'
			  href="{{ url_for('static', filename='css/layout.css') }}">

		<link rel='stylesheet' type='text/css'
			  href="{{ url_for('static', filename='css/colours.css') }}">

    		<link rel='stylesheet' type='text/css'
			  href="{{ url_for('static', filename='css/transitions.css') }}">

		<link rel='stylesheet'
			  type='text/css'
			  href='http://fonts.googleapis.com/css?family=Anton'>

</head>
<body class="background-color-0">
    <div id="header-container" class="vert-center color-6">
        <div class="margin-left-5 delayed-fade-in">
            We had a 404 error :-(
        </div>
        <div class="slide-in-from-right hline background-color-1a margin-left-5"></div>

        <p class="delayed-fade-in margin-left-5">
            Unfortunately we could not find the resource you're looking for, we'll resolve to fix
			it quickly!
        </p>
    </div>

</body>
</html>