<!DOCTYPE html>
<html>

	<head profile="http://www.w3.org/2005/10/profile">
		<meta charset="UTF-8">
		<meta name="viewport"
			  content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<title>{% block title %}{% endblock %}</title>

		<link rel="icon"
			  type="image/png"
			  sizes="96x96"
			  href="{{ url_for('static', filename='images/favicons/favicon-96x96.png') }}">

		<link rel='stylesheet' type='text/css'
			  href="{{ url_for('static', filename='css/layout.css') }}">

		<link rel='stylesheet' type='text/css'
			  href="{{ url_for('static', filename='css/colours.css') }}">

		<link rel='stylesheet' type='text/css'
			  href="{{ url_for('static', filename='css/transitions.css') }}">

        <link rel='stylesheet' type='text/css'
			  href="{{ url_for('static', filename='css/navigation.css') }}">

        <link rel='stylesheet' type='text/css'
			  href="{{ url_for('static', filename='css/loading.css') }}">

		<link rel='stylesheet'
			  type='text/css'
			  href='http://fonts.googleapis.com/css?family=Anton'>

		<link  rel='stylesheet'
			   type='text/css'
			   href='http://fonts.googleapis.com/css?family=Lato:400,700'>

        {% block head_scripts %}
        {% endblock %}
	</head>

    <body class="background-color-0">
        {% block nav_header %}
		<div id="page-top">
			<div id="header-container" class="color-6 delayed-fade-in">
				<img id="menu-icon"
					 class="menu phone clickable"
					 src="{{ url_for('static', filename='images/menu_icon_png.png') }}">
				<div id="page-title" class="margin-left-5">
					#europe2015
				</div>
			</div>
			<div class="slide-in-from-right hline background-color-1a"></div>

			<div class="nav-pane delayed-fade-in color-6">
				<!--<div class="delayed-fade-in color-6">-->
					<!--<div class="menu phone nav-item background-color-2">menu</div>-->
					<!--&lt;!&ndash; navigation bar goes here&ndash;&gt;-->
					<div href="{{ url_for('map_posts') }}"
						 class="nav-item background-color-2 border-color-6 clickable">map</div>
					<div href="{{ url_for('upload') }}"
						 class="nav-item background-color-2 border-color-6 clickable§">upload
					</div>
				<!--</div>-->
				<!--<div class="phone slide-in-from-right hline background-color-1a"></div>-->
			</div>
		</div>

        {% endblock %}

			<div id="loading-pane" class="loading-done vert-center horiz-center">
				<img id="loading-icon"
					 src="{{ url_for('static', filename='images/loading_icon_png.png') }}">
			</div>

        <div class="content">
			<div id="content-loading" class="loading-done background-color-0"></div>
            {% block content %}{% endblock %}
        </div>

		<script type="text/javascript"
			src="{{ url_for('static', filename='js/base_view/base_view_bundle.js') }}"></script>
		{% block tail_scripts %}{% endblock %}
    </body>

</html>