{% extends "_base.html" %}
	{% block title %}View posts{% endblock %}

    {% block head_scripts %}
        <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7oYhGu2nYJUFZOEVh1Z7qdpjlriSzdEc&libraries=places">
        </script>

		<link rel='stylesheet' type='text/css'
			href="{{ url_for('static', filename='css/map_posts.css') }}">
    {% endblock %}

	{% block content %}
		<div id="map-container">
			<input id="places-input" class="controls" type="text" placeholder="Search here">
			<div id="map-canvas"></div>
		</div>

		<div id="postcard-container" class="color-6 body-font">
			{% for post in context.posts %}
				<div class="postcard border-color-6">
					<div class="postcard-header">
						<div class="post-date">
							{{ post.date }}
						</div>
						<div class="avatar">
							<img
									src="{{ url_for('static', filename='images/avatars/' + context.users[post.user_id].username + '.png') }}">
						</div><br/>
					</div>
					<div class="status-text">
						{{ post.status_entry }}
					</div><br/>
					<div class="post-photo">
						{% if post.image_url %}
							<img src="{{ post.image_url }}">
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	{% endblock %}

    {% block tail_scripts %}
		<script type="text/javascript"
			src="{{ url_for('static', filename='js/map_posts_view/map_posts_view_bundle.js') }}"></script>
	{% endblock %}