{% extends "_base.html" %}
	{% block title %}View posts{% endblock %}

    {% block head_scripts %}
        <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7oYhGu2nYJUFZOEVh1Z7qdpjlriSzdEc&libraries=places">
        </script>

		<link rel='stylesheet' type='text/css'
			href="{{ url_for('static', filename='css/map_posts.css') }}">

		<link rel='stylesheet' type='text/css'
			href="{{ url_for('static', filename='css/big_postcard.css') }}">
    {% endblock %}

	{% block content %}

		<div id="map-container">
			<!--<input id="places-input" class="controls" type="text" placeholder="Search here">-->
			<div id="map-canvas"></div>
		</div>

		<div id="postcard-container" class="color-6 body-font scrollable">
			<!--<img id="left-arrow" class="carousel-arrow left"-->
				 <!--src="{{ url_for('static', filename='images/left_arrow_png.png') }}">-->
			{% for post in context.posts %}
				<div class="postcard border-color-6 clickable" data-postcard-id="{{ post.id }}">
					<div class="postcard-header">
						<div class="post-date">
							{{ post.date }}
						</div>
						<div class="avatar">
							<img
									src="{{ url_for('static', filename='images/avatars/' + context.users[post.user_id].username + '.png') }}">
						</div><br/>
					</div>
					<div class="status-text">
						{% if post.status_entry is not none %}
							{{ post.status_entry }}
						{% else %}
							Location pin!
						{% endif %}
					</div><br/>
					<div class="post-photo-filmstrip">
						{% if post.images %}
							{% for image in post.images %}
								<img src="{{ image.image_url }}">
							{% endfor %}
						{% endif %}
					</div>
				</div>
			{% endfor %}
			<!--<img id="right-arrow" class="carousel-arrow right"-->
				 <!--src="{{ url_for('static', filename='images/right_arrow_png.png') }}">-->
		</div>

		<!-- The container for the chosen postcard -->
		<div id="big-postcard" class="background-color-1a">
			<img id="postcard-close-icon" class="close-icon clickable"
				 src="{{ url_for('static', filename='images/close_icon.png') }}">
		</div>

		<!-- The container for the chosen picture -->
		<div id="big-picture">
			<img id="picture-close-icon" class="close-icon clickable"
				 src="{{ url_for('static', filename='images/close_icon.png') }}">
		</div>

	{% endblock %}

    {% block tail_scripts %}
		<script type="text/javascript"
			src="{{ url_for('static', filename='js/map_posts_view/map_posts_view_bundle.js') }}">
		</script>
	{% endblock %}