{% extends "_base.html" %}
	{% block title %}Make a post{% endblock %}

    {% block head_scripts %}
    {% endblock %}

	{% block content %}
        <div>
            Choose your photos to upload
        </div>
        <!--<div class="slide-in-from-right hline background-color-1a margin-left-5"></div>-->

        <form onSubmit="event.preventDefault()"
              id="upload-photo" name="uploadForm">
            <label>
                User
            </label>
            <select id="user-details">
                    <option value="">Choose a user...</option>
                {% for user in context.users %}
                    <option value="{{ user.user_id }}">{{ user.name }}</option>
                {% endfor %}
            </select><br/>
            <input type="file" name="image" id="file-field"><br/>
            <textarea name="status" id ="status-text" form="upload-photo"
                      placeholder="Add a status post here..."></textarea>

            <div id="geolocation">
                <button type="button" id="geolocation-button">Get geolocation</button>
            </div>
            <input type="submit" name="submit" id="upload-button" value="Submit">
        </form>


        <div id="img-preview">

        </div>
	{% endblock %}

    {% block tail_scripts %}
		<script type="text/javascript"
			src="{{ url_for('static', filename='js/upload_view/upload_view_bundle.js') }}"></script>
	{% endblock %}