<!DOCTYPE html>
<html>

	<head profile="http://www.w3.org/2005/10/profile">
		<meta charset="UTF-8">
		<!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
		<title>Upload images</title>

		<link rel="icon"
			  type="image/png"
			  sizes="96x96"
			  href="{{ url_for('static', filename='images/favicons/favicon-96x96.png') }}">

		<link rel='stylesheet' type='text/css'
			  href="{{ url_for('static', filename='css/layout.css') }}">

		<link rel='stylesheet' type='text/css'
			  href="{{ url_for('static', filename='css/colours.css') }}">

		<link rel='stylesheet' type='text/css'
			  href="{{ url_for('static', filename='css/transitions.css') }}">

		<link rel='stylesheet'
			  type='text/css'
			  href='http://fonts.googleapis.com/css?family=Anton'>

		<link  rel='stylesheet'
			   type='text/css'
			   href='http://fonts.googleapis.com/css?family=Lato:400,700'>

		<script type="text/javascript"
				src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7oYhGu2nYJUFZOEVh1Z7qdpjlriSzdEc&libraries=places,drawing">
		</script>


	</head>

    <body class="background-color-0">
        <div id="header-container" class="vert-center color-6">
            <div class="margin-left-5 delayed-fade-in">
                Choose your photos to upload
            </div>
            <div class="slide-in-from-right hline background-color-1a margin-left-5"></div>

			<!--<form method="post" action="/upload" name="submit" enctype="multipart/form-data">-->
			<form class="margin-left-5 delayed-fade-in" onSubmit="event.preventDefault()"
				  id="upload-photo">
				<input type="file" name="fileField"><br />
				<input type="submit" name="submit" value="Submit">
			</form>
            <!--<p class="delayed-fade-in margin-left-5">-->
                <!--This hasn't been built yet, but we're on it!-->
            <!--</p>-->
        </div>

    </body>
	<script type="text/javascript"
		src="{{ url_for('static', filename='js/upload_view/upload_view_bundle.js') }}"></script>
		<!--src="{{ url_for('static', filename='js/upload_view/main.js') }}"></script>-->

</html>
