{% extends "_base.html" %}
	{% block title %}Saved posts{% endblock %}

    {% block head_scripts %}
        <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7oYhGu2nYJUFZOEVh1Z7qdpjlriSzdEc&libraries=places">
        </script>

        <link rel='stylesheet' type='text/css'
            href="{{ url_for('static', filename='css/view_saved.css') }}">
    {% endblock %}

	{% block content %}
    <div class="save-container horiz-center delayed-fade-in">
        <div id="view-saved" class="color-6">
        </div>

        <input type="button" name="save" id="upload-button" class="horiz-center" value="Upload now">
    </div>
	{% endblock %}

    {% block tail_scripts %}
		<script type="text/javascript"
			src="{{ url_for('static', filename='js/view_saved/view_saved_bundle.js') }}"></script>
	{% endblock %}